<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Redirect /admin to /app/admin
  RewriteRule ^admin/?(.*)$ /app/admin/$1 [R=301,L]

  # DO NOT rewrite requests starting with /app (let Node.js handle them)
  RewriteRule ^app - [L,NC]

  # SPA Routing for everything else (Frontend)
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
